<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu principal</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <style>
        #caixa{
            max-width: 40vw;
        }
    </style>

</head>
<body>
    <div id="caixa" class="container text-center position-absolute translate-middle p-2 rounded shadow top-50 start-50 bg-secondary">
        <h1>Menu Principal</h1>
        <div class="row m-1">
            <div class="col"><a href="/vender" class="col btn btn-primary">Realizar uma venda</a></div>
        </div>
        <div class="row m-1">
            <div class="col"><a href="/estoque" class="col btn btn-primary">Ver estoque</a></div>
        </div>
        <div class="row m-1">
            <div class="col"><a href="/vendas" class="col btn btn-primary">Ver vendas</a></div>
        </div>
    </div>
</body>
</html>